@charset "ISO-8859-1";

body {
    background-image: url('http://localhost:8080/Project/resources/images/homepage-pic.png');
    background-size: cover;
    background-position: center;
    font-family: 'Comfortaa', sans-serif;
}

.main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #75A241;
    color: white;
}

tr:nth-child(even) {
    background-color: #e0f1e3;
}

tr:nth-child(odd) {
    background-color: #a5d6a7;
}
