body {
  background-image: url("http://localhost:8080/Project/resources/images/homepage-pic.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.login-page-box {
  animation-name: slidein;
  animation-duration: 1s;
  display: flex;
  margin: 25vh;
  border-radius: 50px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.25);
  padding: 20px 10px 20px 10px;
  width: 400px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  border-radius: 5px;
  border: 1px solid #e2e1e5;
  background: #fff;
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  margin-bottom: 10px;
}

label {
  width: 82%;
}

input[type="submit"],
input[type="button"] {
  padding: 10px 15px;
  border-radius: 5px;
  background: linear-gradient(to left, #45a049 50%, #295a2b 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

input[type="submit"] {
  margin-right: 60px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  background-position: left;
}

.login-buttons{
	margin-top: 25px;
}